section {
  background-image: url("./download.png");
  height:90vh;
  width:100vw;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  background-size: cover;
  flex-direction: column;
  padding: 0 5rem;
  text-align: right;
}

section h1 {
  color:#B4FBFF;
  margin-top:6rem;
  -webkit-text-stroke: 2px black; /* For webkit browsers like Chrome, Safari */
  font-size:3rem;
  margin-left:auto;
}

section p {
  width:35%;
  margin-left:auto;
  margin-top:1.5rem;
  color:white;
  font-size:1.1rem;
  line-height:1.8;
}

section button {
  background-color: #B4FBFF;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-right:auto;

}

.section-2 {
  text-align: left;
  background-image: url("./dry.png");
}

.section-2 h1 {
  margin-right:auto;
  margin-left:0;
}

.section-2 p {
  margin-right:auto;
  margin-left:0;
}

.section-2 button {
  margin-right:0;
  margin-left:auto;
}

.section-3 {
  background-image: url("./leather.png");
}

.section-4 {
  background-image:url("./iron.png");
}